<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="components2.css">
</head>
<div class="flex">
<div class="w-3/4 h-screen bg-white justify-start items-center">
    <p class=" text-black px-10 py-10 font-bold text-3xl">Plant<span class="text-green-700">.</span></p>
    <p class="font-bold text-[45px] px-10 mt-40">Find your <span class="text-green-700">greeny</span > stuff for your room</p>
    <hr class="w-16 h-2 bg-green-700  ml-11 mt-1">
    <p class="px-10 mt-3 text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ad a illo explicabo dolor dignissimos incidunt, repellat libero similique dolore eaque ipsum veniam quia quod delectus eum, sit mollitia corporis?</p>
    <button class="bg-green-500 hover:animate-bounce ml-10 mt-6 text-white px-3 py-1 rounded-sm text-xl">Learn More</button>
</div>
<div class="h-screen">
    <img class="h-full bg-cover" src="image/Capture.PNG" alt="">
</div>
</div>
<body>
    
</body>
</html>