*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;  
}
.parent{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding:10px 30px;
    margin: 30px;
    background-color: black;
}
.ul li{
    display: inline;
    padding: 0 20px;
    color: white;
    

}
.ul li a{
    text-decoration: none;
    color: white;
}
div{
    align-self: center;
    color: white;
}
#contact{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: blue;
}